{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "@middleware": "./app/controller/middleware",
            "@models": "./app/models"
          }
        }]
      ]
}