doctype html
html 
    head
        title Anime js test
        link(rel="stylesheet", type="text/css", href="../../../css/excersise1.css")
        meta(charset='utf-8')
        script(src="../../js/dist/excersise.js")
    body
        include ../Navbar/navbar
        .cardStack
        .curtain
        .tutorial
            p Tutorial på Engelsk
            p Tutorial på Dansk
            #drawcardContainer
                button#drawCard Draw Card
            #tutorialContainer
                button#tutorialbutton I understand
        .vokal
        .vokalE
            | E

            div(class = 'dropÆ')
        div(class = 'vokalÆ')
            | Æ

            div(class = 'dropÆ')
        
        
    