doctype html
html 
    head
        title Anime js test
        link(rel="stylesheet", type="text/css", href="../../../css/excersise1.css")
        meta(charset='utf-8')
        script(src="../../js/dist/excersise.js")
    body
         .container 
            #drawcardContainer
                 button#drawCard Draw Card
            .cardStack
                .cardStack-Container
            .mainContent 
                .speaker
                .curtain
                .tutorial
                    p Tutorial på Engelsk
                    p Tutorial på Dansk
                    
                    .tutorialContainer
                        button#tutorialbutton I understand
            .vokal
                .vokalE
                    p E
                div(class = 'vokalÆ')
                    p Æ
            div(class="close")
        
    