doctype html
html 
    head
        title Exercise 2
        link(rel="stylesheet", type="text/css", href="../../dist/css/styles.css")
        meta(charset='utf-8')
        script(src="../../dist/exercise2.js")
    body
         .container 
            .cardStack
                .cardStack-Container
            .mainContent 
                .speaker
                .curtain
                .sentence
                .tutorial
                    p Tutorial på Engelsk
                    p Tutorial på Dansk
                    
                    .tutorialContainer
                        button#tutorialbutton I understand 
            div(class="translation")
            div(class="close")
            .rating
                p Rating here:
            .record
                .play