doctype html
html 
    head
        title Exercise 2
        link(rel="stylesheet", type="text/css", href="../../dist/css/styles.css")
        meta(charset='utf-8')
        script(src="../../dist/exercise2.js")
    body
         .container 
            #drawcardContainer
                 button#drawCard Draw Card
            .cardStack
                .cardStack-Container
            .mainContent 
                .speaker
                .curtain
                .sentence
                .tutorial
                    p Tutorial på Engelsk
                    p Tutorial på Dansk
                    
                    .tutorialContainer
                        button#tutorialbutton I understand 
            div(class="translation")
            div(class="close")
            .record
            lottie-player(src="https://assets10.lottiefiles.com/datafiles/eCv8mq45S0yVDRg3EzN5TM03iYrd7HurlldGqxV1/xtv_listen_state/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop=false autoplay hover)