@use "../abstracts" as *;
@use "../components" as *;
.container {
	@include container;
}

.cardStack {
	grid-area: stack;
}

.cardStack .cardStack-Container > .cardcontainer {
	margin-top: 1rem;
	margin-left: 1rem;
	position: absolute;
	top: 0;
	left: 0;
}

.mainContent {
	grid-area: mainContent;
	display: grid;
	place-items: center;
	grid-template-areas: "speaker Main Main .";
	grid-auto-rows: 100%;
	grid-template-columns: 1fr repeat(2, minmax(100px, 1fr)) 1fr;
}

.card {
	width: $card-width;
	height: $card-height;
	background-color: transparent;
	border-radius: 10px;
	transform-style: preserve-3d;
	box-shadow: $card-boxShadow;
}

.front,
.back {
	display: flex;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 10;
	font-size: 1.3vw;
}

.front {
	color: #fff;
	background: #2196f3;
	font-size: 1.5rem;
}
.back {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	color: #2196f3;
	background: white;
	font-size: 2rem;
}

.vokal {
	grid-area: vokaler;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: auto;
	place-items: center;
	z-index: -1;
}

.vokalA,
.vokalB {
	color: black;
	text-align: center;
	font-size: 120px;
	opacity: 1;
	border-style: none;
	border-radius: 10px;
	padding: 40px 55px;
	p {
		padding: 0;
		margin: 0;
	}
}

.vokalA p {
	padding: 0 17px;
}

.tutorial {
	text-align: center;
	border-style: solid;
	border-radius: 10px;
	justify-content: center;
	background-color: white;
	visibility: visible;
	z-index: 12;
	grid-area: Main;
	@include fontMediaQuery;

	p {
		padding: 0 1rem;
		text-align: left;
		@include fontMediaQuery;
	}

	p:nth-child(1) {
		border-bottom: solid 1px;
		padding-bottom: 1rem;
	}
}
.correct {
	display: grid;
	background-color: greenyellow;
	place-items: center;

	p:nth-child(1) {
		border-bottom: none;
		padding-bottom: 1rem;
	}
	button {
		@include button;
		&:hover {
			scale: 1.1;
		}
		&:not(:hover) {
			scale: 1;
		}
	}
}

.tutorialContainer {
	display: grid;
	place-items: center right;
}

#tutorialbutton {
	visibility: "visible";
	z-index: 11;
}
.curtain {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.close {
	grid-area: close;
	display: grid;
	place-items: start end;
	font-size: calc(15px + 2vw);
	margin-top: 1rem;
	margin-right: 1rem;

	svg {
		cursor: pointer;
	}
}
.helpIcon {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: calc(2rem + 200px);
	margin-left: 1rem;
	font-size: calc(15px + 2vw);
	cursor: pointer;
}
.speaker {
	grid-area: speaker;
	cursor: pointer;
}
