@use '../abstracts' as *;
@use '../components' as *;
@use '../main.scss';
body {
	background-color: $lightGreenCyan;
	overflow: scroll;
}

ul li {
	list-style: none;
}

h1 {
	text-align: center;
}

h1.overview {
	width: 100%;
	text-align: center;
	border-bottom: 0.2604166666666667vw solid black;
	line-height: 0.1em;
	margin: 10.319917440660475vh 0px 2.063983488132095vh;
	font-family: $headingFont;
}

h1.overview span.overview {
	margin-bottom: 50px;
	padding: 0 10px;
	background-color: $lightGreenCyan;
	font-size: 150%;
	color: black;
	font-family: $headingFont;
}

.helpIcon {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: calc(2rem + 200px);
	margin-left: 1rem;
	font-size: calc(15px + 2vw);
	cursor: pointer;
	z-index: 8;
}

h2,
p {
	color: $thirdColor;
	z-index: 4;
}

h2 {
	color: $thirdColor;
	text-align: center;
	width: 100%;

	line-height: 140%;
	transition-property: top;
	transition-duration: 0.3s;
}

.cardDeck {
	padding-left: 0;
	display: grid;
	grid-gap: 50px;
	margin-top: 100px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 500px);
}

.cardItem {
	transform: skewY(0);
	z-index: 1;
	transition-property: z-index;
	transition-duration: 0.3s;
	display: grid;
}

.test {
	padding: 4px;
	background-color: tomato;
	width: 5.416666666666667vw;
	height: 10.732714138286894vh;
	border-radius: 50%;
	margin-top: 1.5479876160990713vh;
	margin-right: 0.5208333333333334vw;

	font-family: $lesserHeadingFont;
	float: right;
}

.test > p {
	font-family: $lesserHeadingFont;
	text-align: center;
	vertical-align: middle;
	margin-top: 40px;
	font-size: larger;
}

div.smallcard {
	position: absolute;
	z-index: 12;
	left: 25.5%;
	width: 45%;
	height: 30%;
	top: 0;
	background-color: white;
	border-radius: 2vw;
	box-shadow: inset 0px 0px 0px 5px $thirdColor;

	filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
	visibility: hidden;
}

.smallcard > h1 {
	text-align: center;
	top: 30%;
	font-family: $headingFont;
	color: $thirdColor;
}

.smallcard > h2 {
	top: 30%;
	font-family: $headingFont;
	color: $thirdColor;
}

.modules {
	place-self: center;
	z-index: 2;
	width: 300px;
	height: 300px;

	background-color: white;
	border-radius: 20px;
	box-sizing: border-box;

	transform: rotate(0deg) translate(0, 0);
	transition-property: transform;
	transition-duration: 0.3s;

	box-shadow: inset 0px 0px 0px 5px $thirdColor;
}

.modules > p {
	font-family: $lesserHeadingFont;
	text-align: center;
}

.show {
	animation: fadeIn 1.2s linear forwards;
}

#exercise1 {
	margin-top: 5.7vw;
	position: inherit;
	left: 18%;
	z-index: 10;
	height: 50%;
	background-color: white;
	border-radius: 2vw;
	box-shadow: inset 0px 0px 0px 0.3vw $thirdColor;

	filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
}

.exercise {
	height: 10.319917440660475vh;
	width: 5.208333333333333vw;
	float: left;
	background-color: purple;
	margin-right: 1vw;
	margin-top: 2vh;
	margin-left: 1vw;
}

.exercise > p {
	margin-top: 4.12796697626419vh;
	font-family: $lesserHeadingFont;
	color: tomato;
	text-align: center;
	font-size: larger;
}

#sets {
	z-index: 20;
}

#set1 {
	top: 40%;
}

#set2 {
	animation-duration: 1.4s;
	top: 80%;
}

#set3 {
	animation-duration: 1.6s;
	top: 120%;
}

@keyframes fadeIn {
	99% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

.smallcard:hover,
.exercise:hover,
.test:hover {
	transform: translate(5.5%, 15%) scale(1.1);
}

.hover {
	transform: translate(5.5%, 15%) scale(1.1);
}

.clicked {
	transition-property: transform;
	transition-duration: 0.8s;
	transform: scale(2, 2);
	z-index: 10;
}

.slideRight {
	transform: translate(155%, 140%) scale(5, 5);
}

.notSelected {
	pointer-events: none;
}

li:hover {
	z-index: 4;
}
li:hover .modules:not(.clicked) {
	transform: translate(5.5%, 15%) scale(1.2) rotate(4deg);
}

.hide {
	display: none;
}

.curtain {
	position: absolute;
	width: 100%;
	height: 200%;
	background-color: black;
	opacity: 0.6;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	p {
		color: white;
		z-index: 11;
	}
}

.tutorial {
	position: absolute;
	left: 10%;
	top: 50%;
	text-align: center;
	border-style: solid;
	border-radius: 10px;
	justify-content: center;
	background-color: white;
	visibility: visible;
	z-index: 12;
	@include fontMediaQuery;

	p {
		padding: 0 1rem;
		text-align: left;
		@include fontMediaQuery;
	}

	p:nth-child(1) {
		padding-bottom: 1rem;
	}
}
