@use '../exercise' as *;
@use '../../abstracts' as *;

.translation {
	grid-area: close;
	display: grid;
	grid-template-areas: '. . word . flag';
	grid-template-columns: repeat(5 auto);
	background-color: white;
	place-self: right;
	height: 120px;
	width: 300px;
	margin-top: 5rem;
	margin-right: 2rem;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	grid-column: 4 / span 2;
	border-style: solid;
	border-radius: 10px;
	border-color: $CardFrontColor;
	visibility: hidden;
	p {
		grid-area: word;
	}
	.flag {
		grid-area: flag;
		place-self: center end;
		img {
			margin-right: 20px;
			right: 0;
			width: 50px;
			height: 50px;
		}
	}
}

.sentenceTranslated {
	margin-left: 5px;
	place-self: center;
	color: black;
}

.focusWord {
	color: red;
}

.sentence {
	display: grid;
	grid-area: Main;
	grid-template-columns: repeat(3, minmax(206px, 1fr));
	grid-template-rows: 200px;
	grid-template-areas: 'sentenceFirst wordDiv sentenceLast';
	color: black;
	border-style: solid;
	border-radius: 10px;
	border-color: red;
	width: calc(206px * 3);
	// height: 55%;
	background-color: white;
	visibility: hidden;
	.firstPart {
		grid-area: sentenceFirst;
		place-self: center;
		font-size: 1.9rem;
	}
	.secondPart {
		grid-area: sentenceLast;
		place-self: center;
		font-size: 1.9rem;
	}
	.word {
		place-self: center;
	}
}

.RecordAndRate {
	top: -100px;
	position: relative;
	grid-area: vokaler;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, auto);
	place-items: center;
	place-self: center;
	.rating {
		place-self: start center;
		margin-bottom: 30px;
	}
	.record {
		place-self: center;
		font-size: calc(15px + 2vw);
		cursor: pointer;
	}

	.microphone {
		font-size: 50px;
	}

	.playRec {
		font-size: 50px;
	}

	.star {
		font-size: 30px;
	}

	p {
		text-align: center;
	}

	.recordingNow {
		color: red;
	}
}
