$CardFrontColor: #2196f3;
$CardBackColor: white;
$backgroundColor: burlywood;

//hvis du skal bruge lysere/mørkere farver: gå til hjemmeside -> tryk på farven --> tryk shades (HUSK reset changes bagefter
//https://colors.muz.li/palette/309975/226b5e/305699/399930/286b22
$mediumGreenCyan: #309975;
$greenPea: #226B5E;
$bdazzledBlue: #305699;
$dullGreen: #399930;
$darkLimeGreen: #286B22;

$primaryColor: $mediumGreenCyan;
$secundaryColor: $greenPea;
$thirdColor: $bdazzledBlue;
$fourthColor: $dullGreen;
$fifthColor: $darkLimeGreen;


$lightGreenCyan: #a0cebe; //possible background color2
$lightGreenCyan2: #9EE0C9; //possible background color