@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans&family=PT+Sans&display=swap');

$headingFont: 'Heebo', sans-serif;  
$lesserHeadingFont: 'PT Sans', sans-serif;
$standardFont: 'Open Sans', sans-serif;
