doctype html
html 
    head
        title Exercise 1
        link(rel="stylesheet", type="text/css", href="../../dist/css/exercise.css")
        meta(charset='utf-8')
        script(src="../../dist/exercise.js")
    body
         .container 
            .cardStack
                .cardStack-Container
            .mainContent 
                .speaker
                .curtain
                .tutorial
                    p(id="eng") Tutorial på Engelsk
                    p(id="dan") Tutorial på Dansk
                    
                    .tutorialContainer
                        button#tutorialbutton I understand
            .vokal
                .vokalE
                    p E
                div(class = 'vokalÆ')
                    p Æ
            div(class="close")
        
    