doctype html
html 
    head
        title Exercise 3
        link(rel="stylesheet", type="text/css", href="../../dist/css/exercise3.css")
        meta(charset='utf-8')
        script(src="../../dist/exercise3.js")
    body
         .container 
            #drawcardContainer
            .cardStack
                .cardStack-Container
            .mainContent
                .curtain
                .speaker
                .tutorial
                    .tutorialContainer
                        button#tutorialButton I understand
            .answerZone
    