doctype html
html 
    head
        title Exercise 3
        link(rel="stylesheet", type="text/css", href="../../dist/css/exercise3.css")
        meta(charset='utf-8')
        script(src="../../dist/js/exercise3.js")
    body
         .container 
            #drawcardContainer
            .cardStack
                .cardStack-Container
            .mainContent
                .curtain
                //- .speaker
                .tutorial
                    #dan
                        .title
                            .skeleton.skeleton-text.skeleton-title
                        .text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                    #eng
                        .title
                            .skeleton.skeleton-text.skeleton-title
                        .text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                    
                    .tutorialContainer
                        button#tutorialbutton I understand
            .answerZone
    