doctype html
html 
    head
        title Exercise 2
        link(rel="stylesheet", type="text/css", href="../../dist/css/exercise2.css")
        meta(charset='utf-8')
        script(src="../../dist/js/exercise2.js")
    body
         .container 
            .cardStack
                .cardStack-Container
            .mainContent 
                .speaker
                .curtain
                .sentence
                .tutorial
                    p#eng Tutorial på Engelsk
                    p#dan Tutorial på Dansk
                    
                    .tutorialContainer
                        button#tutorialbutton I understand 
            
            div(class="translation")
                .flag
                    img(src='../assets/img/britishFlag.png')
            div(class="close")
            .RecordAndRate
                .rating
                    p Rating here:
                .record
                    .microphone
                    .play