doctype html
html 
    head
        title Exercise 3
        link(rel="stylesheet", type="text/css", href="../../dist/css/exercise3.css")
        meta(charset='utf-8')
        script(src="../../dist/exercise3.js")
        //- script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        //- script(src="../../js/excersises/exercise3.js")
    body
         .container 
            #drawcardContainer
                 button#drawCard Draw Card
            .cardStack
                .cardStack-Container
            .mainContent
                .speaker
                    p spk
                .curtain
                .tutorial
                    p Tutorial på Engelsk
                    p Tutorial på Dansk
                    .tutorialContainer
                        button#tutorialButton I understand
            .answerZone#ansZ 
                //- .answerOption.ansOpt1
                //-     p
                //- .answerOption.ansOpt2
                //-     p
                //- .answerOption.ansOpt3
                //-     p
                //- .answerOption.ansOpt4
                //-     p
            div(class="close")
                p X
    
    //skriv npm start hver gang der laves om i js fil. - Node skal lige packe igen