doctype html
html 
    head
        title Exercise 1
        link(rel="stylesheet", type="text/css", href="../../dist/css/exercise1.css")
        meta(charset='utf-8')
        script(src="../../dist/js/exercise1.js")
    body
         .container
            .cardStack
                .cardStack-Container
            .mainContent 
                .speaker
                .curtain
                .tutorial
                    #dan
                        .title
                            .skeleton.skeleton-text.skeleton-title
                        .text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                    #eng
                        .title
                            .skeleton.skeleton-text.skeleton-title
                        .text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                            .skeleton.skeleton-text
                    
                    .tutorialContainer
                        button#tutorialbutton I understand
            .vokal
                .vokalA
                div(class = 'vokalB')
            div(class="close")
        
    