doctype html
html 
    head
        title Set 1 Test
        link(rel="stylesheet", type="text/css", href="../../dist/css/Set1Test.css")
        meta(charset='utf-8')
        script(src="../../dist/js/Set1Test.js")
    body
       include ../Navbar/navbar
          .container 
            .mainContent
                .curtain
                .tutorial
                    .tutorialContainer
                        button#tutorialbutton I understand
            .answerZone