body {
  margin: 0;
  background-color: burlywood;
}
.card {
  height: 200px;
  width: 200px;
  background-color: powderblue;
  position: absolute;
  border-radius: 10px;
  transform-style: preserve-3d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.front,
.back {
  display: flex;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.front {
  color: #fff;
  background: #2196f3;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(180deg);
  color: #2196f3;
  background: #fff;
}
#drawcardContainer {
  display: grid;
  place-items: center;
  visibility: hidden;
}
.vokal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 750px;
}
.vokalE,
.vokalÆ {
    position: relative;
    color: black;
    text-align: center;
    font-size: 120px;
    opacity: 1;
}
.dropE,
.dropÆ {
  position: absolute;
  text-align: center;
  border-style: dashed;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  bottom: 10px;
  left: 21.5vw;
  visibility: hidden;
}
.tutorial {
  position: absolute;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  width: 20%;
  justify-content: center;
  margin-top: 350px;
  margin-left: 800px;
  background-color: grey;
  visibility: visible;
  z-index: 11;
}
#tutorialbutton {
  position: absolute;
  display: grid;
  place-items: center;
  margin-top: 600px;
  visibility: "visible";
  margin-left: 1800px;
  z-index: 11;
}
.curtain {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}