body {
	margin: 0;
	background-color: burlywood;
}

.container {
	display: grid;
	gap: 1rem;
	grid-template-areas:
		"stack . drawcard . close"
		". mainContent mainContent mainContent ."
		"vokaler vokaler vokaler vokaler vokaler";
	/*
	grid-template-columns: repeat(5, minmax(240px, 1fr));*/
	grid-auto-rows: auto 300px auto;
	height: 100vh;
}

.cardStack {
	grid-area: stack;
}

.cardStack .cardStack-Container > .cardcontainer {
	margin-top: 1rem;
	margin-left: 1rem;
	position: absolute;
	top: 0;
	left: 0;
}

.mainContent {
	grid-area: mainContent;
	display: grid;
	place-items: center;
	grid-template-areas: "speaker Main Main .";
	grid-auto-rows: 100%;
	grid-template-columns: 1fr repeat(2, minmax(100px, 1fr)) 1fr;
}

.card {
	width: 200px;
	height: 100px;
	background-color: transparent;
	border-radius: 10px;
	transform-style: preserve-3d;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.front,
.back {
	display: flex;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 10;
	font-size: 1.3vw;
}
.front {
	color: #fff;
	background: #2196f3;
	font-size: 1.5rem;
}
.back {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	color: #2196f3;
	background: white;
	font-size: 2rem;
}
#drawcardContainer {
	grid-area: drawcard;
	margin-top: 1rem;
	justify-self: center;
	visibility: hidden;
}
.vokal {
	grid-area: vokaler;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: auto;
	place-items: center;
	z-index: -1;
}

.vokalA,
.vokalB {
	color: black;
	text-align: center;
	font-size: 120px;
	opacity: 1;
	border-style: none;
	border-radius: 10px;
	padding: 40px 55px;
}

.vokalA p,
.vokalB p {
	padding: 0;
	margin: 0;
}

.vokalA p {
	padding: 0 17px;
}

@mixin button {
	padding: 20px;
	margin-right: 1rem;
	border-radius: 2px;
	place-self: center end;
	font-weight: 5em;
	line-height: 1;
	cursor: pointer;
	filter: drop-shadow(0 2px 8px rgba(#275efe, 0.32));
	margin-bottom: 1em;
	background: #275efe;
	border-radius: 24px;
	transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	border: none;
	outline: none;
	color: white;
	@include fontMediaQuery;

	svg {
		padding-left: 10px;
		margin-bottom: 2px;
	}
}

@mixin fontMediaQuery {
	@media (max-width: 599px) {
		font-size: 1em;
	}
	@media (min-width: 1201px) {
		font-size: 1.3vw;
	}
}

.tutorial {
	text-align: center;
	border-style: solid;
	border-radius: 10px;
	justify-content: center;
	background-color: white;
	visibility: visible;
	z-index: 12;
	grid-area: Main;
	@include fontMediaQuery;

	p {
		padding: 0 1rem;
		text-align: left;
		@include fontMediaQuery;
	}

	p:nth-child(1) {
		border-bottom: solid 1px;
		padding-bottom: 1rem;
	}

	#tutorialbutton {
		@include button;
		&:hover {
			cursor: -webkit-pointer;
			scale: 1.1;
			svg {
				transform: rotate(-45deg);
				animation: svgRotateEnter 0.2s;
			}
		}
		&:not(:hover) {
			scale: 1;
			svg {
				transform: rotate(0deg);
				animation: svgRotateLeave 0.2s;
			}
		}
	}
}

@keyframes svgRotateEnter {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@keyframes svgRotateLeave {
	0% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.correct {
	display: grid;
	background-color: greenyellow;
	place-items: center;

	p:nth-child(1) {
		border-bottom: none;
		padding-bottom: 1rem;
	}
	button {
		@include button;
		&:hover {
			scale: 1.1;
		}
		&:not(:hover) {
			scale: 1;
		}
	}
}

.tutorialContainer {
	display: grid;
	place-items: center right;
}

#tutorialbutton {
	visibility: "visible";
	z-index: 11;
}
.curtain {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.close {
	grid-area: close;
	display: grid;
	place-items: start end;
	font-size: calc(15px + 2vw);
	margin-top: 1rem;
	margin-right: 1rem;

	svg {
		cursor: pointer;
	}
}
.helpIcon {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: calc(2rem + 200px);
	margin-left: 1rem;
	font-size: calc(15px + 2vw);
	cursor: pointer;
}
.speaker {
	grid-area: speaker;
	cursor: pointer;
}

#animation {
	position: absolute;
	grid-area: drawcard;
	width: 100%;
	height: 100%;
}
