docktype 
html 
    header
        title #{errorCode}
        link(rel="stylesheet", type="text/css" href="../dist/css/error.css")
    body
        //- include ./Navbar/navbar
        .ErrorContainer 
            h1 #{errorCode}
            h3 #{errorMessage}
