doctype html 
html
    head
        title
        link(rel="stylesheet", href="../dist/css/main.css")
    body
        include ./Navbar/navbar
        .sites(style = "display: grid; place-items: center; margin-top: 20px")
            button(onClick ='location.href="http://localhost:3000/page/exercise1"') Exercise 1
        