doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Upload Files
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
   
  include ./Navbar/navbar
        
    form(action='/build/postRecording' method='POST' enctype='multipart/form-data')
      input(type='text' name='name' placeholder='File Name..' autocomplete='off')
      br
      input(type='file' name='uploadedFile')
      br
      input(type='submit' value='Upload File')

    form(action='/build/postSentence' method='POST' enctype='multipart/form-data')
      br
      input(type='text' name='name' placeholder='File Name..' autocomplete='off')
      br
      input(type='file' name='uploadedFile')
      br
      input(type='submit' value='Upload File')
    
    form(action='/build/getRecording' method='GET' enctype='multipart/form-data')
      br
      input(type='text' name='wordname' placeholder='File Name..' autocomplete='off')
      br
      input(type='submit' value='Download File')