doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login screen
        //link(rel='stylesheet', ='../css/main.css')
        style  
            include ../css/main.css
        script
            include ../js/utils/jquery.js
        script(
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
			integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer")
        script
            include ../js/login.js
        
    body
         div(class = 'loginbox')
            img(src='../css/img/avatar.png' class='avatar')
            h1 Login here 
            form
                p Username
                input(type="text" name='' placeholder='Enter Username' id='username')
                p Password
                input(type="password", name='' placeholder='Enter Password' id='password')
                p#usernameerror: i  Wrong username or password 
                input(type="submit" name='' value='Login')
                br
                a(href="http://localhost:3000/page/lostpassword") Lost your password?
                br
                a(href="http://localhost:3000/page/createaccount") Don't have an account? Sign up 
        
        
