<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Module overview</title>
		<link rel="stylesheet" href="modules.css" />
		<script src="./js/jquery.js"></script>
		<script src="cards.js"></script>
		<script></script>
	</head>
	<body>
		<div id="container">
			<h1 class="overview"><span class="overview">Basic</span></h1>

			<ul>
				<li>
					<div class="details">
						<h2>Basic 1</h2>
						<p>In this module, you will blabla</p>
					</div>
				</li>
				<li>
					<div class="details">
						<h2>Basic 2</h2>
						<p>Coming soon</p>
					</div>
				</li>
				<li>
					<div class="details">
						<h2>Basic 3</h2>
						<p>Coming soon</p>
					</div>
				</li>
				<li>
					<div class="details">
						<h2>Basic 4</h2>
						<p>Coming soon</p>
					</div>
				</li>
			</ul>
			<h1 class="overview"><span class="overview">Special</span></h1>
			<ul>
				<li>
					<div class="details">
						<h2>Special 1</h2>
						<p>Coming soon</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
