doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Module overview
    link(rel='stylesheet' href='../../dist/css/modules.css')
    script(src='../dist/js/modules.js')
  body 
    //- include ./Navbar/navbar
    #container 
      h1.overview
        span.overview Basic modules
      #set1.smallcard
        h1 Set 1
        h2 E and Æ vowal sounds
      #set2.smallcard
        h1 Set 2
        h2 Coming soon
      #set3.smallcard
        h1 Set 3
        h2 Coming soon
      #set4.smallcard
        h1 Set 4
        h2 Coming soon
      ul.cardDeck
        li.cardItem
          #basic1.details
            h2 Basic 1
            p In this module, you will blabla
        li.cardItem
          #basic2.details
            h2 Basic 2
            p Coming soon
        li.cardItem
          .details
            h2 Basic 3
            p Coming soon
        li.cardItem
          .details
            h2 Basic 4
            p Coming soon
      h1.overview
        span.overview Special modules
      ul
        li.cardItem
          .details
            h2 Special 1
            p Coming soon
