doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create account 
        link(rel='stylesheet', type="text/css" href ='../../dist/css/createAccount.css')
        script(src="../../dist/js/createAccount.js") 
        
    body
        include ../Navbar/navbar
        div(class = 'loginbox')
            img(src='../css/img/avatar.png' class='avatar')
            h1.login Create an account 
            form
                p Username
                input(type="text" name='' placeholder='Enter Username' id='username')
                p Password
                input(type="password", name='' placeholder='Enter Password' id='password')
                input(type="password", name='' placeholder='Confirm Password' id='confirmpassword')
                p#usernameerror: i  Error, please enter a username or password
                input(type="submit" name='' value='Create account' id ='createaccount-btn')
            
        
		
                