doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login screen
        link(rel='stylesheet', type="text/css" href ='../../dist/css/createAccount.css')
        script(src = "../../dist/main.js")

    bodys
        include ../Navbar/navbar
        .loginModal
        div(class = 'loginbox')
            img(src='../css/img/avatar.png' class='avatar')
            h1 Login here 
            form
                p Username
                input(type="text" name='' placeholder='Enter Username' id='username')
                p Password
                input(type="password", name='' placeholder='Enter Password' id='password')
                p#usernameerror: i  Wrong username or password 
                input(type="submit" name='' value='Login')
                br
                a(href="http://localhost:3000/page/lostpassword") Lost your password?
                br
                a(href="http://localhost:3000/page/createaccount") Don't have an account? Sign up 
        
        
